// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../../node_modules/animatewithsass/animate.scss";
@import "../components/user-widget/user-widget";
@import "../components/article-widget/article-widget";
@import "../components/article-widget-footer/article-widget-footer";
@import "../components/article-share-button/article-share-button";
@import "../components/comment-counter/comment-counter";
@import "../components/comment-widget/comment-widget";
@import "../components/elastic-header/elastic-header";
@import "../components/search-widget/search-widget";


@import "../pages/home/home";
@import "../pages/list/list";
@import "../pages/article/article";
@import "../pages/article/article-pop-over/article-pop-over";
@import "../pages/article/comment-modal/comment-modal";
@import "../pages/search/search";
@import "../pages/settings/settings";
@import "../pages/profile/profile";

.abs-navbar {
  z-index: 2;
  position: absolute;
  .toolbar-background {
    background: transparent;
  }

  .bar-button {
    background: $bgTitleColor;
  }
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.flex {
  align-self: stretch;
}
