<ion-row>
  <ion-col *ngIf="options.social">
    <wp-article-share-button [article]="options.article"></wp-article-share-button>
  </ion-col>
  <ion-col *ngIf="options.navigate">
    <button primary clear block (click)="goToArticlePage(options.article)">
      <ion-icon name="eye"></ion-icon>
    </button>
  </ion-col>
  <ion-col *ngIf="!!options.comments">
    <wp-comment-counter [article]="options.article" (onCommentLoaded)="onComments.next($event)"></wp-comment-counter>
  </ion-col>
  <ion-col center text-center *ngIf="options.date">
    <ion-note>
      {{options.article.date | date: 'dd/MM/yyyy'}}
    </ion-note>
  </ion-col>
</ion-row>
