<ion-row>
  <ion-col *ngIf="options.social">
    <article-share-button [article]="options.article"></article-share-button>
  </ion-col>
  <ion-col *ngIf="options.navigate">
    <button primary clear block (click)="goToArticlePage(options.article)">
      <ion-icon name="eye"></ion-icon>
    </button>
  </ion-col>
  <ion-col *ngIf="!!options.comments">
    <comment-counter [article]="options.article"></comment-counter>
  </ion-col>
  <ion-col center text-center>
    <ion-note>
      <!-- <time [datetime]="article.date" pubdate>{{article.date | date}}</time> -->
      {{options.article.date | date: 'dd/MM/yyyy'}}
    </ion-note>
  </ion-col>
</ion-row>
