<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{ category.name }}</ion-title>
  <ion-buttons end>
    <button (click)="displayFilter = !displayFilter">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-content class="list">
  <search-widget
    *ngIf="displayFilter"
    [options]="searchWidgetOptions"
    (onSearch)="filter = $event">
  </search-widget>
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="connec$ | async">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="bubbles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <article-widget
    *ngFor="let article of articles$ | async | listfilter : filter"
    [article]="article">
    <article-widget-footer [options]="{social: true, navigate: true, comments: true, article: article}"></article-widget-footer>
  </article-widget>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
