<ion-header>
  <ion-toolbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <wp-search-widget [query]="query" (onSearch)="searchHandler($event)"></wp-search-widget>
  </ion-toolbar>
</ion-header>
<ion-content class="list">
    <div text-center *ngIf="articleStore.loading$ | async">
      <ion-spinner></ion-spinner>
    </div>
    <ion-list [virtualScroll]="articles" *ngIf="articles">
       <ion-item-sliding *virtualItem="let article">
         <ion-item >
           <ion-thumbnail item-left>
             <ion-img [src]="article.picture" width="96" height="96" alt=""></ion-img>
           </ion-thumbnail>
           <h2 [innerHTML]="article.title"></h2>
         </ion-item>
         <ion-item-options>
           <button primary item-right (click)="goToArticlePage(article)">
             <ion-icon name="eye"></ion-icon>
           </button>
           <wp-article-share-button [article]="article"></wp-article-share-button>
         </ion-item-options>
       </ion-item-sliding>
    </ion-list>
</ion-content>
