<ion-toolbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <form [ngFormModel]="searchForm">
    <ion-item>
      <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input autofocus type="search" ngControl="search"></ion-input>
    </ion-item>
  </form>
</ion-toolbar>
<ion-content>
    <div text-center *ngIf="articleStore.loading$ | async">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <ion-list [virtualScroll]="articles" *ngIf="articles">
      <ion-item *virtualItem="let article">
        <ion-thumbnail item-left>
          <ion-img [src]="article.picture" width="96" height="96" alt=""></ion-img>
        </ion-thumbnail>
        <h2>{{article.title}}</h2>
        <ion-item>
          <ion-avatar item-left>
            <ion-img [src]="article?.author?.avatar" width="48" height="48" alt=""></ion-img>
          </ion-avatar>
          <button clear>{{article?.author?.name}}</button>
        </ion-item>
        <button clear item-right (click)="goToArticlePage(article)">
          View
        </button>
      </ion-item>
    </ion-list>
</ion-content>
