.home {
  position: relative;
  ion-navbar {
    position: absolute;
    .toolbar-background {
      background: $bgTitleColor;
    }
  }
  ion-slide {
    .background {
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 1;
      filter: blur(5px);
    }
    .slide-zoom {
      height: 100%;
    }
    .home-slide {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 9999;
      margin-top: 75px;
      background: $bgTitleColor;
      ion-card {
        margin:0;
        width:100%;
        background: transparent;
      }
      article {
        text-align: justify;
        padding: 5px 15px 5px 15px;
        max-height: 230px;
        font-size: 1.5em;
      }
    }
  }
}

.home-fab {
  background: $bgTitleColor;
  color: black;
  z-index: 999999999
}
