.home {
  position: relative;
  ion-navbar {
    position: absolute;
    .toolbar-background {
      background: rgba(255,255,255,0.5);
    }
  }
  ion-slide {
    .background {
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 1;
      filter: blur(5px);
    }
    .slide-zoom {
      height: 100%;
    }
    .home-slide {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 9999;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height:100%;
      user-widget {
        margin-top: 5.6rem;
        width:100%;
      }
      h1 {
        filter:blur(0px) !important;
        background: rgba(255,255,255,0.5);
      }
      .read-button-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        button {
          overflow: hidden;
          width: 56px;
          min-width: 0;
          height: 56px;
          border-radius: 50%;
          font-size: 14px;
          line-height: 56px;
          vertical-align: middle;
          background-clip: padding-box;
        }
      }
    }
  }
}
