.home {
  position: relative;
  ion-navbar {
    position: absolute;
    .toolbar-background {
      background: $bgTitleColor;
    }
  }
  ion-slide {
    .background {
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      z-index: 1;
      filter: blur(5px);
    }
    .slide-zoom {
      height: 100%;
    }
    .home-slide {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 9999;
      // display: flex;
      // justify-content: center;
      // flex-direction: column;
      height:400px;
      padding: 100px 50px 100px 50px;
      margin-top: 100px;
      margin-left: 50px;
      margin-right: 50px;
      background: $bgTitleColor;
      ion-card {
        margin:0;
        width:100%;
        // filter:blur(0px) !important;
        background: transparent;
      }
    }
  }
}

.home-fab {
  background: $bgTitleColor;
  color: black;
  z-index: 999999999
}
